{% extends 'productos/base.html' %}

{% block header %}
<div class="row session">
    <h3>Bienvenido <i class="fas fa-user"></i></h3>
    <a href="{% url 'ingresar' %}">Cerrar sesión</a>
</div>
{% endblock %}

{% block content %}
<div class="content-body">

    <h2>Lista de Productos</h2>

    {% for producto in productos %}
        <div class="row fila">
            <div class="col-md-3">
                <label> {{ producto }}: </label>
                |
            </div>
            <div class="col-md-8">
                <p> Cantidad: {{ producto.cantidad }}  |  Expira: {{ producto.expira_date }} </p>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="row">
        <a href="{% url 'pedido_new' %}" class="top-menu"> Agregar Consumo <span class="glyphicon glyphicon-plus"> | </span></a>
        <a href="{% url 'pedidos_list' %}" class="top-menu"> Ver Consumos <span class="glyphicon glyphicon-th-list"> | </span></a>
        <a href="{% url 'come_part' %}" class="top-menu"> Quién come más? <span class="glyphicon glyphicon-user"> | </span></a>
        <a href="{% url 'come_prod' %}" class="top-menu"> Producto más consumido <span class="glyphicon glyphicon-certificate"></span></a>
    </div>
</div>
{% endblock %}



