{% extends 'productos/base.html' %}

{% block header %}
<div class="row session">
    <h3>Bienvenido <i class="fas fa-user"></i></h3>
    <a href="{% url 'ingresar' %}">Cerrar sesión</a>
</div>
{% endblock %}

{% block content %}
<div class="content-body">

    <h2>Miembro del equipo que consume más</h2>

    <div class="row fila letter">
        <label class="col-md-2">Nombre </label>
        <label class="col-md-5">Productos Consumidos </label>
    </div>
    <div class="row fila letter">
        <p class="col-md-2"> {{ comidas.participante__first_name }}</p>
        <p class="col-md-2">{{ comidas.sum }}</p>
    </div>
    <br>
    <div class="row">
        <a href="{% url 'pedido_new' %}" class="top-menu"> Agregar Consumo <span class="glyphicon glyphicon-plus"> | </span></a>
        <a href="{% url 'productos_list' %}" class="top-menu"> Ver Productos <span class="glyphicon glyphicon-th-list"> | </span></a>
        <a href="{% url 'pedidos_list' %}" class="top-menu"> Ver Consumos <span class="glyphicon glyphicon-th-list"> | </span></a>
        <a href="{% url 'come_prod' %}" class="top-menu"> Producto más consumido <span class="glyphicon glyphicon-certificate"></span></a>
    </div>
</div>
{% endblock %}