{% extends 'productos/base.html' %}

{% block header %}
<div class="row session">
    <h3>Bienvenido <i class="fas fa-user"></i></h3>
    <a href="{% url 'ingresar' %}">Cerrar sesión</a>
</div>
{% endblock %}

{% block content %}
<div class="content-body">
    
    <h2>Lista de Consumos</h2>
    
    {% for pedido in pedidos %}
        <div class="row fila">
            <div class="col-md-2">
                <label> {{ pedido }}: </label>
                |
            </div>
            <div class="col-md-8">
                <p>Quién consume: {{ pedido.participante }}  |  Producto: {{ pedido.product }} |  Cantidad: {{ pedido.cantidadp }}</p>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="row">
        <a href="{% url 'pedido_new' %}" class="top-menu"> Agregar Consumo <span class="glyphicon glyphicon-plus"> | </span></a>
        <a href="{% url 'productos_list' %}" class="top-menu"> Ver Productos <span class="glyphicon glyphicon-th-list"> | </span></a>
        <a href="{% url 'come_part' %}" class="top-menu"> Quién come más? <span class="glyphicon glyphicon-user"> | </span></a>
        <a href="{% url 'come_prod' %}" class="top-menu"> Producto más consumido <span class="glyphicon glyphicon-certificate"></span></a>
    </div>
</div>
{% endblock %}


